.landing-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
}

.landing-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: gold;
}

.landing-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.buttons a {
  display: inline-block;
  margin: 0 10px;
  padding: 12px 25px;
  border-radius: 8px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.buttons a:hover {
  background-color: gold;
  color: black;
}
