.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: linear-gradient(135deg, #020617, #1e293b);
  color: white;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
}

.card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #cbd5e1;
  padding: 10px;
  text-align: center;
}

th {
  background: #0f172a;
  color: white;
}
